#page-create {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-create .content-wrapper {
    width: 100%;
    max-width: 1120px;

    height: 100%;
    max-height: 577px;

    padding: 96px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #F0F0F5;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#page-create .content-wrapper .left {
    display: flex;
    flex-direction: column;
}

#page-create .content-wrapper .left img {
    width: 191px;
    height: 81px;

    margin-bottom: 64px;
}

#page-create .content-wrapper .left h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: #13131A;

    margin-bottom: 32px;
}


#page-create .content-wrapper .left p {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #737380;

    margin-bottom: 84px;
}

#page-create .content-wrapper .left .return {
    display: flex;
    align-items: center;

    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #41414D;

    text-decoration: none;
    transition: 0.3s ease-in-out;
}

#page-create .content-wrapper .left .return:hover {
    color: #E02041;
}

#page-create .content-wrapper .left .return span {
    margin-left: 28px;
}

#page-create .content-wrapper .right {
    display: flex;
    flex-direction: column;

    margin-left: 148px;
}

#page-create .content-wrapper .right input {
    width: 448px;
    height: 60px;

    padding: 19px 20px 19px 24px;

    background: #FFFFFF;
    border: 1.5px solid #DCDCE6;
    border-radius: 8px;

    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    color: #41414D;
}

#page-create .content-wrapper .right input::placeholder {
    line-height: 21px;
    color: #A8A8B3;
}

#page-create .content-wrapper .right textarea {
    width: 448px;
    height: 175px;

    margin: 8px 0;
    padding: 19px 20px 19px 24px;

    background: #FFFFFF;
    border: 1.5px solid #DCDCE6;
    border-radius: 8px;

    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    color: #41414D;
}

#page-create .content-wrapper .right textarea::placeholder {
    line-height: 21px;
    color: #A8A8B3;
}

#page-create .content-wrapper .right .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 16px;
}

#page-create .content-wrapper .right .buttons .cancel {
    width: 168px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2.5px solid #DCDCE6;
    border-radius: 8px;

    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #41414D;
    cursor: pointer;

    transition: 0.3s ease-in-out;
}

#page-create .content-wrapper .right .buttons .cancel:hover {
    border: 2.5px solid #E02041;
    background: transparent;
    color: #E02041;
}

#page-create .content-wrapper .right .buttons .register {
    width: 263px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #E02041;
    border: none;
    border-radius: 8px;

    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #F0F0F5;
    cursor: pointer;

    transition: 0.3s ease-in-out;
}

#page-create .content-wrapper .right .buttons .register:hover {
    border: 2.5px solid #E02041;
    background: transparent;
    color: #E02041;
}