#page-register {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-register .content-wrapper {
    width: 100%;
    max-width: 1120px;

    height: 100%;
    max-height: 577px;

    padding: 96px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #F0F0F5;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#page-register .content-wrapper .left {
    display: flex;
    flex-direction: column;
}

#page-register .content-wrapper .left img {
    width: 191px;
    height: 81px;

    margin-bottom: 64px;
}

#page-register .content-wrapper .left h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    color: #13131A;
}

#page-register .content-wrapper .left p {
    width: 384px;

    margin-top: 32px;
    margin-bottom: 84px;

    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
}


#page-register .content-wrapper .left .return {
    display: flex;
    align-items: center;

    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    color: #41414D;
    outline: 0;
    border: 0;

    text-decoration: none;
    transition: 0.3s ease-in-out;
}

#page-register .content-wrapper .left .return:hover {
    color: #E02041;
}

#page-register .content-wrapper .left .return span {
    margin-left: 28px;
}

#page-register .content-wrapper .right {
    display: flex;
    flex-direction: column;

    margin-left: 120px;
}

#page-register .content-wrapper .right input {
    width: 448px;
    height: 60px;

    padding: 19px 20px 19px 24px;

    background: #FFF;
    border: 1.5px solid #DCDCE6;
    border-radius: 8px;
    
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    color: #41414D;
}

#page-register .content-wrapper .right input::placeholder {
    line-height: 21px;
    color: #A8A8B3;
}

#page-register .content-wrapper .right input:not(:first-child):not(:last-child) {
    margin-top: 8px;
}

#page-register .content-wrapper .right .input-wrapper {
    margin: 8px 0 16px;

    display: flex;
}

#page-register .content-wrapper .right .input-wrapper input:first-child{
    margin-right: 8px;
}

#page-register .content-wrapper .right button {
    width: 448px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #E02041;
    border: 0;
    border-radius: 8px;

    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #F0F0F5;
    cursor: pointer;

    transition: 0.3s ease-in-out;
}

#page-register .content-wrapper .right button:hover {
    background: transparent;
    color: #E02041;
    border: 2px solid #E02041;
}